.Rproj.user
.Rhistory
.RData
.DS_Store
README.html
# don't track generated PDF files
anaSirion/R/*.pdf
anaSirion/Rmd/*.nb.html
# don't track generated .rpl and .raw files

# ana-from-cmd-line dir
ana-from-cmd-line/*.html
ana-from-cmd-line/*.pdf


.ipynb_checkpoints
.ipynb_checkpoints/*.*

R/ana-ZnO-on-Si/*.html
R/ana-ZnO-on-Si/ana-ZnO-on-Si.pdf

#don't track (or remove) html files written by testMixture.py
html/*html
rplScripts/.DS_Store
rplScripts/*.raw
rplScripts/*.rpl
rplScripts/.ipynb_checkpoints
mc3Scripts/work/*
EDS-TM002/*.md
EDS-TM002/*.html
simLineInMatrix/csv/*.xlx
simLineInMatrix/csv/*.csv
mc3Scripts/dat/sim
mc3Scripts/dat/png/*.png
mc3Scripts/dat/pdf/*.pdf